@page "/"
@page "/home/{UserName}"

<PageTitle>Home</PageTitle>

<h1>Hello, @(!string.IsNullOrEmpty(UserName)? UserName : "world")!</h1>

Welcome to your new app.


@code {
	[Parameter]
	public string UserName { get; set; } = string.Empty;
}