@page "/login"

@inject UserService UserService
@inject AuthService AuthService
@inject AuthStateService AuthStateService
@inject NavigationManager NavManager

<h3>Login</h3>
<Messages Message="@Message" />

<div>
	<InputField Label="Username"
				@bind-Value="UserName"
				PlaceHolder="Enter username here">
	</InputField>
	<InputField Label="Password"
				@bind-Value="Password"
				PlaceHolder="Enter password here"
				IsPassword="true"
				ShowPassword="@ShowPassword">
	</InputField>
	<div>
		<InputCheckbox @bind-Value=@ShowPassword></InputCheckbox>
		<label>Show password</label>
	</div>
	<div>
		<button @onclick="Login">Login</button>
	</div>
</div>

@code {
	private string UserName = string.Empty;
	private string Password = string.Empty;
	private string Message = string.Empty;
	private bool ShowPassword = false;

	private async Task Login()
	{
		if (string.IsNullOrEmpty(UserName) || string.IsNullOrEmpty(Password))
		{
			Message = "Please fill out username and password";
			return;
		}

		var user = await UserService.GetUserByName(UserName);

		if (user == null)
		{
			Message = "User not found";
			return;
		}

		var salt = AuthService.GetSaltOfGuid(user.UserId);

		if (!AuthService.VerifyPassword(Password, user.PasswordHash, salt))
		{
			Message = "Password incorrect.";
			return;
		}

		AuthStateService.Login(UserName, user.UserId);

		Message = "User login successful";

		NavManager.NavigateTo($"/home/{UserName}");
	}
}